# [作業目標]
- 利用範例的創建方式, 創建一組資料, 並練習如何取出最大值

# [作業重點]
- 練習創立 DataFrame (In[2])
- 如何取出口數最多的國家 (In[3], Out[3])

## 練習時間
在小量的資料上，我們用眼睛就可以看得出來程式碼是否有跑出我們理想中的結果

請嘗試想像一個你需要的資料結構 (裡面的值可以是隨機的)，然後用上述的方法把它變成 pandas DataFrame

#### Ex: 想像一個 dataframe 有兩個欄位，一個是國家，一個是人口，求人口數最多的國家

### Hints: [隨機產生數值](https://blog.csdn.net/christianashannon/article/details/78867204)

In [1]:
import pandas as pd
import numpy as np

In [35]:
data = {'國家': ['A','B','C','D','E'],
        '人口': [12345, 14512, 15612, 21435, 21014]}
df = pd.DataFrame(data)
#df = pd.DataFrame(data, columns = ['國家', '人口'])
df

  國家     人口
0  A  12345
1  B  14512
2  C  15612
3  D  21435
4  E  21014

In [38]:
df['人口'].idxmax()
#df['人口'].max()
#df['人口'].idxmin()
#df['人口'].min()

3

In [41]:
#降冪排序
df['people_ranked']=df['人口'].rank(ascending=0)

#升冪排序
#df['people_ranked']=df['人口'].rank(ascending=1)
df

  國家     人口  people_ranked
0  A  12345            5.0
1  B  14512            4.0
2  C  15612            3.0
3  D  21435            1.0
4  E  21014            2.0